<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/community/write.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div id="btn-move-back">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 16.4463L0 8.44629L8 0.446289L9.425 1.84629L3.825 7.44629H16V9.44629H3.825L9.425 15.0463L8 16.4463Z"
              fill="#121212"
            />
          </svg>
        </div>
        <h1 class="font-title-kr02">글 수정하기</h1>
        <button class="button-ghost-disabled" id="btn-complete">완료</button>
      </div>

      <div class="main-write">
        <form action="" method="post">
          <div id="selected-symptoms"></div>
          <textarea
            class="font-body-kr03"
            name="content"
            id="input-content"
            cols="30"
            rows="10"
            placeholder="이야기를 나누면서 마음이 가뿐해지시면 좋겠어요"
          ></textarea>
        </form>
      </div>

      <div class="popup">
        <div class="popup-background"></div>
        <div class="popup-box">
          <p class="font-title-kr02">글을 삭제하시겠어요?</p>
          <p class="font-body-kr03">삭제하면 지금까지 작성한 글이 사라져요</p>
          <button class="font-detail-kr01" id="btn-popup-close">
            취소하기
          </button>
          <button class="font-detail-kr01" id="btn-delete">삭제하기</button>
        </div>
      </div>
    </div>
    <script src="../../static/js/community/modify.js"></script>
  </body>
</html>
