<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>탈퇴 완료</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/mypage/withdrawdone.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="loading-icon-container">
      <div class="loading-icon-background"></div>
      <div class="loading-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="wrap">
      <div class="content">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0054 25.3339L8.03873 18.3673L9.78039 16.6256L15.0054 21.8506L26.2193 10.6367L27.9609 12.3784L15.0054 25.3339Z"
            fill="#D32F2F"
          />
          <circle cx="18" cy="18" r="17" stroke="#D32F2F" stroke-width="2" />
        </svg>
      </div>
      <h2 class="font-title-kr01">탈퇴가 완료되었습니다</h2>
      <p class="font-detail-kr01">
        그동안 포메스트와 함께 해주셔서 감사합니다 :)
        <br />언제 어디서나 건강하고 행복하시기를 기원할게요
      </p>
    </div>
    <script src="../../static/js/common/main.js"></script>
    <script src="../../static/js/mypage/withdrawdone.js"></script>
  </body>
</html>
