<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>포메스트 닉네임 입력</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/landing/join.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="wrap">
      <h1 class="font-title-kr01">
        포메스트에서 사용할<br />닉네임을 정해볼까요?
      </h1>
      <input
        class="textbox-default"
        id="textbox"
        type="text"
        placeholder="한글 5자 이내의 닉네임을 입력하세요"
      />
      <p class="textbox-message-fail font-detail-kr02" id="textbox-message"></p>
      <button class="button-elevated-disabled" id="btn-submit">
        닉네임 정했어요
      </button>
    </div>
    <script src="../../static/js/landing/join.js"></script>
  </body>
</html>
