<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>포메스트 기본 정보 입력</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/landing/suggest.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="loading-icon-container">
      <div class="loading-icon-background"></div>
      <div class="loading-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="wrap">
      <p class="font-title-kr02 title" id="title-text">
        님에 대해<br />조금 더 알려주세요
      </p>
      <p class="font-detail-kr02" id="sub-text">
        3개의 질문에 답해주신 내용을 기반으로
        <br />꼭 필요한 정보만 찾아서 전달해드릴게요
      </p>
      <button class="button-elevated-default" id="btn-do-now">
        지금 알려줄게요
      </button>
      <a class="font-detail-kr02" id="btn-do-next">다음에 할게요</a>
    </div>
    <script src="../../static/js/common/main.js"></script>
    <script src="../../static/js/landing/suggest.js"></script>
  </body>
</html>
