<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>포스트</title>
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="wrap">
      <h1 class="font-header-kr01">포스트 메인</h1>
      <p class="font-body-kr01">아직 개발하지 않은 페이지</p>
    </div>
  </body>
</html>
