<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>포메스트 포스트</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/post/view.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div id="btn-move-back">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 16.4463L0 8.44629L8 0.446289L9.425 1.84629L3.825 7.44629H16V9.44629H3.825L9.425 15.0463L8 16.4463Z"
              fill="#121212"
            />
          </svg>
        </div>
      </div>
      <div style="height: 62px"></div>
      <div class="post-item">
        <div class="post-header">
          <h2 class="font-title-kr02">자기 전 5분 꿀팁</h2>
          <span class="post-save-btn" onclick="savePost(this, 0)">
            <svg
              width="14"
              height="18"
              viewBox="0 0 14 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 18V2C0 1.45 0.196 0.979 0.588 0.587C0.979333 0.195667 1.45 0 2 0H12C12.55 0 13.021 0.195667 13.413 0.587C13.8043 0.979 14 1.45 14 2V18L7 15L0 18ZM2 14.95L7 12.8L12 14.95V2H2V14.95Z"
                fill="#121212"
              />
            </svg>
          </span>
          <span class="post-share-btn">
            <svg
              width="16"
              height="22"
              viewBox="0 0 16 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 22C1.45 22 0.979333 21.8043 0.588 21.413C0.196 21.021 0 20.55 0 20V9C0 8.45 0.196 7.979 0.588 7.587C0.979333 7.19567 1.45 7 2 7H5V9H2V20H14V9H11V7H14C14.55 7 15.021 7.19567 15.413 7.587C15.8043 7.979 16 8.45 16 9V20C16 20.55 15.8043 21.021 15.413 21.413C15.021 21.8043 14.55 22 14 22H2ZM7 15V3.825L5.4 5.425L4 4L8 0L12 4L10.6 5.425L9 3.825V15H7Z"
                fill="#121212"
              />
            </svg>
          </span>
        </div>
        <div class="post-body">
          <img src="../../static/img/post_img.png" alt="post img" />
          <p class="font-body-kr03">
            저작자·발명가·과학기술자와 예술가의 권리는 법률로써 보호한다.
            대통령은 국민의 보통·평등·직접·비밀선거에 의하여 선출한다. 국가는
            여자의 복지와 권익의 향상을 위하여 노력하여야 한다.
            <br /><br />국교는 인정되지 아니하며, 종교와 정치는 분리된다.
            예비비는 총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은
            차기국회의 승인을 얻어야 한다.
            <br /><br />저작자·발명가·과학기술자와 예술가의 권리는 법률로써
            보호한다. 대통령은 국민의 보통·평등·직접·비밀선거에 의하여 선출한다.
            국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다.
            <br /><br />국교는 인정되지 아니하며, 종교와 정치는 분리된다.
            예비비는 총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은
            차기국회의 승인을 얻어야 한다.
            <br /><br />저작자·발명가·과학기술자와 예술가의 권리는 법률로써
            보호한다. 대통령은 국민의 보통·평등·직접·비밀선거에 의하여 선출한다.
            국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다.
            <br /><br />국교는 인정되지 아니하며, 종교와 정치는 분리된다.
            예비비는 총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은
            차기국회의 승인을 얻어야 한다.
            <br /><br />저작자·발명가·과학기술자와 예술가의 권리는 법률로써
            보호한다. 대통령은 국민의 보통·평등·직접·비밀선거에 의하여 선출한다.
            국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다.
            <br /><br />국교는 인정되지 아니하며, 종교와 정치는 분리된다.
            예비비는 총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은
            차기국회의 승인을 얻어야 한다.
          </p>
        </div>
      </div>
    </div>
    <script src="../../static/js/post/view.js"></script>
  </body>
</html>
