<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>포메스트 - 잘못된 접근</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../../static/font/Inter.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/error/main.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="loading-icon-container">
      <div class="loading-icon-background"></div>
      <div class="loading-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="wrap">
      <div class="icon">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0057 25.3339L8.03906 18.3673L9.78073 16.6256L15.0057 21.8506L26.2196 10.6367L27.9613 12.3784L15.0057 25.3339Z"
            fill="#D32F2F"
          />
          <circle cx="18" cy="18" r="17" stroke="#D32F2F" stroke-width="2" />
        </svg>
      </div>
      <h2 class="font-title-kr01">인증되지 않은 접근이에요 !</h2>
      <p class="font-detail-kr01">안전한 페이지로 돌아가기를 추천드려요</p>
      <button class="button-basic-default" id="btn-home">
        홈으로 돌아가기
      </button>
    </div>
    <script src="../../static/js/common/main.js"></script>
    <script src="../../static/js/error/main.js"></script>
  </body>
</html>
