<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>포메스트 - 존재하지 않는 페이지</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../../static/font/Inter.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/error/main.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="icon">
        <img src="../../static/img/logo.png" alt="logo" />
      </div>
      <h2 class="font-title-kr01">미지의 영역을 발견하셨군요 !</h2>
      <p class="font-detail-kr01">
        일부러 발견하신 게 아니라면 <br />우리 함께 포메스트로 돌아가요
      </p>
      <button class="button-basic-default" id="btn-home">
        홈으로 돌아가기
      </button>
    </div>
    <script src="../../static/js/error/main.js"></script>
  </body>
</html>
