/*=========전역 처리===========================*/
/* 드래그 방지, 우클릭 방지 */
body {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/*=========Typography - 국문===========================*/
/* 국문 - Header */
.font-header-kr01 {
  font-family: "Noto Sans KR Black";
  font-size: 28px;
  line-height: 42px;
}
.font-header-kr02 {
  font-family: "Noto Sans KR Bold";
  font-size: 28px;
  line-height: 42px;
}
.font-header-kr03 {
  font-family: "Noto Sans KR Medium";
  font-size: 28px;
  line-height: 42px;
}
/* 국문 - Title */
.font-title-kr01 {
  font-family: "Noto Sans KR Black";
  font-size: 20px;
  line-height: 30px;
}
.font-title-kr02 {
  font-family: "Noto Sans KR Bold";
  font-size: 20px;
  line-height: 30px;
}
.font-title-kr03 {
  font-family: "Noto Sans KR Medium";
  font-size: 20px;
  line-height: 30px;
}
/* 국문 - Body */
.font-body-kr01 {
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
}
.font-body-kr02 {
  font-family: "Noto Sans KR Medium";
  font-size: 14px;
  line-height: 21px;
}
.font-body-kr03 {
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 21px;
}
/* 국문 - Detail */
.font-detail-kr01 {
  font-family: "Noto Sans KR Medium";
  font-size: 12px;
  line-height: 18px;
}
.font-detail-kr02 {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
}
/*=====================================================*/

/*=========Typography - 영문 및 숫자====================*/
/* 영문 및 숫자 - Header */
.font-header-en01 {
  font-family: "Inter Black";
  font-size: 28px;
  line-height: 42px;
}
.font-header-en02 {
  font-family: "Inter Bold";
  font-size: 28px;
  line-height: 42px;
}
.font-header-en03 {
  font-family: "Inter Medium";
  font-size: 28px;
  line-height: 42px;
}
/* 영문 및 숫자 - Title */
.font-title-en01 {
  font-family: "Noto Sans KR Black";
  font-size: 20px;
  line-height: 30px;
}
.font-title-en02 {
  font-family: "Noto Sans KR Bold";
  font-size: 20px;
  line-height: 30px;
}
.font-title-en03 {
  font-family: "Noto Sans KR Medium";
  font-size: 20px;
  line-height: 30px;
}
/* 영문 및 숫자 - Body */
.font-body-en01 {
  font-family: "Inter Bold";
  font-size: 14px;
  line-height: 21px;
}
.font-body-en02 {
  font-family: "Inter Medium";
  font-size: 14px;
  line-height: 21px;
}
.font-body-en03 {
  font-family: "Inter Regular";
  font-size: 14px;
  line-height: 21px;
}
/* 영문 및 숫자 - Detail */
.font-detail-en01 {
  font-family: "Inter Medium";
  font-size: 12px;
  line-height: 18px;
}
.font-detail-en02 {
  font-family: "Inter Regular";
  font-size: 12px;
  line-height: 18px;
}
/*=====================================================*/

/*========Components====================================*/
/* Buttons */
.button-elevated-default {
  padding: 15px 25px 18px;
  gap: 2px;
  background: #4bb158;
  box-shadow: 0px 4px 14px #e2e2e2;
  border-radius: 15px;
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.button-elevated-default:hover {
  background: #2c9539;
}
.button-elevated-disabled {
  padding: 15px 25px 18px;
  gap: 2px;
  background: #b9b9b9;
  box-shadow: 0px 4px 14px #e2e2e2;
  border-radius: 15px;
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: none;
}
.button-basic-default {
  padding: 15px 25px 18px;
  gap: 2px;
  background: #4bb158;
  border-radius: 15px;
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.button-basic-default:hover {
  background: #2c9539;
}
.button-basic-disabled {
  padding: 15px 25px 18px;
  gap: 2px;
  background: #b9b9b9;
  border-radius: 15px;
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: none;
}
.button-ghost-default {
  padding: 15px 25px 18px;
  gap: 2px;
  background: #ffffff;
  border-radius: 15px;
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
  color: #4bb158;
  border: 1.7px solid #4bb158;
  cursor: pointer;
}
.button-ghost-default:hover {
  color: #2c9539;
  border: 1.7px solid #2c9539;
}
.button-ghost-disabled {
  padding: 15px 25px 18px;
  gap: 2px;
  background: #ffffff;
  border-radius: 15px;
  font-family: "Noto Sans KR Bold";
  font-size: 14px;
  line-height: 21px;
  color: #b9b9b9;
  border: 1.7px solid #b9b9b9;
}

/* symptom_tag */
/* .symptom_tag_medium {} */
.symptom_tag_medium span {
  width: 47px;
  height: 39px;
  box-sizing: border-box;
  padding: 9px 12px 12px;
  gap: 2px;
  background: #ffffff;
  border: 1px solid #ff9691;
  border-radius: 10px;
  font-family: "Noto Sans KR Medium";
  font-size: 12px;
  line-height: 39px;
  color: #ff9691;
}
.symptom_tag_medium input[type="checkbox"] {
  display: none;
}
.symptom_tag_medium input[type="checkbox"]:checked ~ span {
  background: #ff9691;
  color: #ffffff;
}
.symptom_tag_span {
  min-width: 39px;
  height: 23px;
  box-sizing: border-box;
  padding: 2px 8px 3px;
  gap: 2px;
  background: #ffffff;
  border: 1px solid #ff9691;
  border-radius: 5px;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  color: #ff9691;
}

/* radio button */
input[type="radio"] {
  background-color: #ffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #121212;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
input[type="radio"]:checked {
  background-color: #4bb158;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #4bb158;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

/* Textbox */
.textbox-default {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 8px #e2e2e2;
  box-shadow: 0px 2px 8px #e2e2e2;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: "Noto Sans KR Medium";
  font-size: 18px;
  line-height: 38px;
  height: 38px;
  text-align: center;
  align-items: center;
  color: #121212;
  padding-bottom: 3px;
}
.textbox-default::placeholder {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  color: #b9b9b9;
  vertical-align: middle;
}
.textbox-default:focus {
  outline: none !important;
}
.textbox-fail {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 8px #e2e2e2;
  box-shadow: 0px 2px 8px #e2e2e2;
  border-radius: 10px;
  border: 1px solid #d32f2f;
  font-family: "Noto Sans KR Medium";
  font-size: 18px;
  line-height: 38px;
  height: 38px;
  text-align: center;
  align-items: center;
  color: #121212;
  padding-bottom: 3px;
}
.textbox-fail::placeholder {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  color: #b9b9b9;
  vertical-align: middle;
}
.textbox-fail:focus {
  outline: none !important;
}
.textbox-message-fail {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  color: #d32f2f;
}
.textbox-success {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 8px #e2e2e2;
  box-shadow: 0px 2px 8px #e2e2e2;
  border-radius: 10px;
  border: 1px solid #4caf50;
  font-family: "Noto Sans KR Medium";
  font-size: 18px;
  line-height: 38px;
  height: 38px;
  text-align: center;
  align-items: center;
  color: #121212;
  padding-bottom: 3px;
}
.textbox-success::placeholder {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  color: #b9b9b9;
  vertical-align: middle;
}
.textbox-success:focus {
  outline: none !important;
}
.textbox-message-success {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  color: #4caf50;
}

/* Popup */
.popup {
  width: 100%;
  z-index: 9999;
}

.popup .popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b9b9b9;
  opacity: 0.7;
  z-index: 9999;
}

.popup .popup-box {
  position: absolute;
  top: 235px;
  left: 22px;
  width: calc(100% - 120px);
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 24px #e2e2e2;
  border-radius: 20px;
  padding: 29px 38px 22px;
  z-index: 9999;
}

.popup-box > p {
  margin-top: 10px;
}

.popup-box > button {
  margin: 15px 25px;
  padding: 12px 9px;
  background-color: #ffffff;
  border: none;
}

.popup-box > button:last-child {
  color: #d32f2f;
}

/* Menu_small */
.menu-small-writer {
  width: 95px;
  height: 96px;
  padding: 5px;
  gap: 2px;
  background: #ffffff;
  box-shadow: 0px 4px 24px #e2e2e2;
  border-radius: 15px;
}
.menu-small-writer > p {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  padding: 15px;
  margin: 0;
}
.menu-small-writer > p:first-child {
  border-bottom: 1px solid #e5e5e5;
}

.menu-small-not-writer {
  width: 95px;
  height: 48px;
  padding: 5px;
  gap: 2px;
  background: #ffffff;
  box-shadow: 0px 4px 24px #e2e2e2;
  border-radius: 15px;
}
.menu-small-not-writer > p {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 18px;
  padding: 15px;
  margin: 0;
}

/*=====================================================*/
