<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포메스트 로그인</title>
</head>
<body>
    <div>
        <h1>우리를 위한 숲<br>포메스트에<br>오신 것을 환영해요!</h1>
        <!--<img src="">-->
        <button onclick="loginKakao()">카카오로 계속하기</button>
        <button onclick="loginNaver()">네이버로 계속하기</button>
    </div>
    <script src="../static/js/000_landing.js"></script>
</body>
</html>