<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포메스트 기본 정보 입력</title>
</head>
<body>
    <div>
        <h1 id="titleText"></h1>
        <ul>
            <li>엄마가 겪고 있는 갱년기 증상</li>
            <li>엄마의 갱년기를 알게 된 시기</li>
            <li>엄마와 내가 태어난 연도</li>
        </ul>
        <button onclick="">다음에 할게요</button>
        <button onclick="">지금 입력할게요</button>
    </div>
    <script src="../static/js/012_inputDefaultInfo.js"></script>
</body>
</html>