::-webkit-scrollbar {
  display: none;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}

/* 커뮤니티 메인 화면 */
.header {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 120px;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 10px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.header-top {
  position: relative;
  margin: 24px auto 0px;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.header-top h1 {
  position: absolute;
  line-height: 30px;
  left: 24px;
  margin: 0;
}

.header-top a {
  position: absolute;
  right: 24px;
  margin: 6px;
  cursor: pointer;
}

/* 태그 검색 화면 */
.search-tag-header {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 62px;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 10px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.search-tag-header > div {
  position: absolute;
  top: 27px;
  left: 28px;
}

#search-title {
  position: absolute;
  top: 21px;
  left: 64px;
  margin: 0;
}

/* 검색 화면 */
.search-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

#btn-move-back {
  position: absolute;
  top: 30px;
  left: 28px;
}

#input-search {
  position: absolute;
  top: 16px;
  left: 64px;
  width: calc(100% - 88px);
  width: -moz-calc(100% - 88px);
  width: -webkit-calc(100% - 88px);
  height: 38px;
}

#btn-search-remove {
  position: absolute;
  top: 28px;
  right: 44px;
}

.search-body {
  position: absolute;
  top: 74px;
  left: 24px;
}

.search-body > p {
  padding-top: 9px;
  margin: 0;
}

#search-symptoms {
  position: absolute;
  width: 320px;
  top: 24px;
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

#search-symptoms label {
  margin: 4px;
  cursor: pointer;
}

/* 검색 태그 목록 */
.header-menu {
  width: 100%;
  height: 50px;
  overflow: auto;
  white-space: nowrap;
  text-align: left;
}

.header-menu label {
  display: inline-block;
  margin-left: 8px;
}

.header-menu label:first-child {
  display: inline-block;
  margin-left: 24px;
}

.feed-list {
  width: 100%;
  overflow: auto;
}

.feed-item {
  width: 100%-48px;
  height: 127px;
  padding: 12px 24px;
}

.feed-item-top {
  height: 23px;
  padding-bottom: 12px;
}

.feed-item-top > span:first-child {
  float: left;
  margin-right: 8px;
}

.feed-item-top > span:nth-child(2) {
  float: left;
}

.feed-item-top > span:last-child {
  float: right;
}

.feed-item-content {
  height: 42px;
  margin-bottom: 14px;
  overflow: hidden;
  cursor: pointer;
}

.feed-item-content > p {
  text-align: left;
  margin: 0;
  padding-bottom: 12px;
}

.feed-item-bottom {
  float: left;
  margin-bottom: 14px;
}

.feed-item-like {
  cursor: pointer;
}

.feed-item-bottom-line {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
}

.bottom-menu {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 75px;
  bottom: -1px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 0px 0px;
}

.bottom-menu-item {
  display: inline-block;
  padding: 18px 0px 0px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.bottom-menu-item > p {
  margin: 0;
}

.bottom-menu-item-select > p {
  color: #4bb158;
}

.btn-fixed {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 37px;
  bottom: 80px;
}

#btn-move-wirte {
  position: absolute;
  width: 101px;
  height: 37px;
  right: 26px;
  bottom: 0px;
  padding: 4px 9px 10px;
  border-radius: 10px;
  font-family: "Noto Sans KR Medium";
  font-size: 14px;
  line-height: 21px;
}

#btn-move-wirte:hover > svg > path {
  fill: #2c9539;
}
