::-webkit-scrollbar {
  display: none;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  -ms-overflow-style: none;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 360px;
  height: 62px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 9999;
}

.header > h1 {
  position: absolute;
  top: 6px;
  left: 64px;
  width: 304px;
  text-align: left;
}

#btn-move-back {
  position: absolute;
  top: 28px;
  left: 28px;
}

/* 피드 내용 */
.feed-item {
  width: 100%-48px;
  padding: 12px 24px;
}

.feed-item-top {
  height: 23px;
  padding-bottom: 12px;
}

.feed-item-top > span:first-child {
  float: left;
  margin-right: 8px;
}

.feed-item-top > span:nth-child(2) {
  float: left;
}

.feed-item-top > span:last-child {
  float: right;
}

.menu-small-writer {
  position: absolute;
  top: 98px;
  right: 15px;
}

.menu-small-not-writer {
  position: absolute;
  top: 98px;
  right: 15px;
}

.feed-item-content {
  margin-bottom: 14px;
}

.feed-item-content > p {
  text-align: left;
  margin: 0;
  padding-bottom: 12px;
}

.feed-item-bottom {
  display: inline-flex;
  float: left;
  margin-bottom: 14px;
}

.feed-item-like {
  cursor: pointer;
  padding-right: 7px;
}

.feed-item-bottom-line {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
}

/* 댓글 내용 */
.comment-item {
  position: relative;
  width: 100%-48px;
  padding: 12px 24px;
}

.comment-item-top {
  height: 23px;
  padding-bottom: 12px;
}

.comment-item-top > span:first-child {
  float: left;
  margin-right: 8px;
}

.comment-item-top > span:nth-child(2) {
  float: right;
}

.comment-item-top > span:last-child {
  float: right;
  margin-right: 14px;
}

.comment-item-content {
  margin-bottom: 14px;
}

.comment-item-content > p {
  text-align: left;
  margin: 0;
  padding-bottom: 12px;
}

.comment-item > .menu-small-writer,
.comment-item > .menu-small-not-writer {
  top: 35px;
  z-index: 99;
}

/* 댓글 입력 */
#bottom-input {
  position: fixed;
  bottom: 12px;
  width: 100%;
  max-width: 360px;
  height: 48px;
  text-align: center;
}

#input-comment {
  position: absolute;
  left: 9px;
  bottom: 0px;
  padding: 0px 12px;
  width: calc(100% - 42px);
  height: 48px;
  background: #e5e5e5;
  border-radius: 10px;
  border: none;
}

#btn-add {
  position: absolute;
  bottom: 14px;
  right: 25px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffff00;
}

/* 대댓글 */
.recomment-more {
  position: absolute;
  top: 80px;
  right: 24px;
  height: 18px;

  font-family: "Noto Sans KR Regular";
  font-size: 10px;
  line-height: 18px;
  color: #8a8a8a;
}

.recomment-list {
  padding-top: 10px;
}

.recomment-item {
  position: relative;
  padding: 0px 0px 0px 24px;
}

.recomment-item > .menu-small-writer,
.recomment-item > .menu-small-not-writer {
  position: absolute;
  top: 23px;
  right: -9px;
  z-index: 99;
}

#input-recomment-close {
  position: absolute;
  bottom: 52px;
  left: 13px;
  background-color: #ffffff00;
  border: none;
}
