html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 360px;
  height: 640px;
  text-align: center;
  overflow: hidden;
}

#progress-bar-container {
  position: absolute;
  top: 49px;
  left: 44px;
  width: 272px;
  height: 13px;
  background: #ffffff;
  border: 1.7px solid #4bb158;
  border-radius: 100px;
}

#progress-bar {
  position: absolute;
  top: 49px;
  left: 44px;
  width: 0px;
  height: 13px;
  background: #4bb158;
  border-radius: 100px;
}

.title {
  position: absolute;
  top: 74px;
  left: 44px;
  height: 60px;
  text-align: left;
}

#select-symptoms {
  position: absolute;
  width: 290px;
  top: 225px;
  left: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#select-symptoms label {
  margin: 4px;
  cursor: pointer;
}

#select-date {
  position: absolute;
  top: 225px;
  left: 66px;
  width: 180px;
  height: 159px;
  display: none;
  text-align: left;
}

#select-date div {
  margin-bottom: 25px;
}

#select-date div input {
  margin-right: 18px;
  vertical-align: middle;
}

#select-date div label {
  display: inline-block;
  line-height: 28px;
  vertical-align: middle;
}

#input-date {
  position: absolute;
  top: 225px;
  left: 44px;
  width: 272px;
  height: 130px;
  display: none;
  text-align: left;
}

#input-date div {
  position: relative;
  height: 72px;
  margin-bottom: 36px;
}

#input-date div label {
  position: absolute;
  top: 0px;
  left: 0px;
}

#input-date div select {
  position: absolute;
  top: 33px;
  width: 276px;
  height: 38px;
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 18px;
}

#input-date div select option:first-child {
  color: #b9b9b9;
}

#btn-next {
  position: absolute;
  left: 64px;
  bottom: 74px;
  width: 232px;
  height: 54px;
}
