html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 360px;
  height: 640px;
  text-align: center;
  overflow: hidden;
}

h1 {
  position: absolute;
  width: 250px;
  top: 80px;
  left: 55px;
  text-align: left;
}

img {
  position: absolute;
  top: 265px;
  left: -61px;
  height: 50px;
}

.wrap > button {
  position: absolute;
  left: 24px;
  width: 312px;
  height: 54px;
}

#btn-login-kakao {
  top: calc(50% - 54px / 2 + 148px);
  color: #121212;
  background: #f7e600;
}

#btn-login-naver {
  top: calc(50% - 54px / 2 + 218px);
  color: #ffffff;
  background: #2db400;
}

a {
  position: absolute;
  left: 24px;
  bottom: 24px;
  width: 312px;
  text-decoration-line: underline;
  color: #b9b9b9;
  cursor: pointer;
}

.popup .popup-box {
  top: 159px;
  height: 280px;
  text-align: center;
}

.popup .popup-box p:first-child {
  margin-bottom: 36px;
}

.popup .popup-box button {
  width: 100px;
  height: 34px;
  padding: 7px 15px 9px;
  margin-top: 28px;
  font-family: "Noto Sans KR Medium";
  font-size: 12px;
  line-height: 18px;
  color: #0091ea;
  border: 1.5px solid #0091ea;
}
