<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내가 쓴 글</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/home/article.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <a id="btn-move-back">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 16.4463L0 8.44629L8 0.446289L9.425 1.84629L3.825 7.44629H16V9.44629H3.825L9.425 15.0463L8 16.4463Z"
              fill="#121212"
            />
          </svg>
        </a>
        <h1 class="font-title-kr02">내가 쓴 글</h1>
        <div class="symptom-list"></div>
        <div class="search-option">
          <p class="font-detail-kr01">댓글 쓴 글도 보기</p>
          <span>
            <input type="checkbox" id="toggle" hidden />
            <label for="toggle" class="toggleSwitch">
              <span class="toggleButton"></span>
            </label>
          </span>
        </div>
      </div>
      <div style="height: 148px"></div>
      <div id="article-list">
        <!-- post list -->
      </div>
      <div id="scrollerFooter" style="height: 10px"></div>
    </div>
    <script src="../../static/js/home/article.js"></script>
  </body>
</html>
