<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>저장한 콘텐츠</title>
    <link
      rel="stylesheet"
      href="../../static/font/NotoSansKR.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/common/main.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/home/post.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="loading-icon-container">
      <div class="loading-icon-background"></div>
      <div class="loading-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="wrap">
      <div class="header">
        <a id="btn-move-back">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 16.4463L0 8.44629L8 0.446289L9.425 1.84629L3.825 7.44629H16V9.44629H3.825L9.425 15.0463L8 16.4463Z"
              fill="#121212"
            />
          </svg>
        </a>
        <h1 class="font-title-kr02">저장한 콘텐츠</h1>
        <div class="symptom-list"></div>
      </div>
      <div style="height: 114px"></div>
      <div id="post-list">
        <!-- post list -->
      </div>
      <div id="scrollerFooter" style="height: 10px"></div>
    </div>
    <script src="../../static/js/common/main.js"></script>
    <script src="../../static/js/home/post.js"></script>
  </body>
</html>
